
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul> -->
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-controzl mr-sm-2"  aria-label="Logout"> -->
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="makeSignUp()">Sign up</button>
      <button class="btn btn-outline-success my-2 my-sm-0" click="logout()">{{loggedUserName}}</button>

    </form>
  </div>
</nav>

<ng-container *ngIf="!logged">
<div class="text-center container">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div>
      <div>
        <label for="user" class="sr-only">Username</label>
        <input class="form-control" id="user" type="text" placeholder="Username" [(ngModel)]="username">
      </div>
      <div>
        <label for="password" class="sr-only">Password</label>
        <input class="form-control" id="password" type="password" placeholder="Password" [(ngModel)]="password">
      </div>
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" (click)="auth()" data-dismiss="modal">Sign In</button>
  </div>
</div>
</ng-container>

 <br/>
 <br/>

 <ng-container *ngIf="canSignUp">
  <div class="modal-body container text-center">
      <h1 class="h3 mb-3 font-weight-normal">Registration:</h1>
      <div>
        <div>
          <label for="newuser"> </label>
          <input class="form-control" id="newuser" placeholder="New Username" type="text" [(ngModel)]="signupname">
        </div>
        <div>
          <label for="email"></label>
          <input  class="form-control"id="email" type="text" placeholder="E-mail" [(ngModel)]="email">
        </div>
        <div>
          <label for="newpassword"></label>
          <input class="form-control" id="newpassword" type="password" placeholder="Password" [(ngModel)]="signuppassword">
        </div>

      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" (click)="signup()" data-dismiss="modal">Sign Up</button>
    </div>
  </ng-container>
<ng-container *ngIf="logged">
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="logout()" data-dismiss="modal">Logout</button>
    </div>
<ng-container *ngIf="logged">

