
<div>
  <h2 style="text-align: center; margin-bottom: 30px;">Госпитали</h2>
  <div style="display: flex; flex-direction: row; justify-content: space-around; ">
    <div *ngFor = "let hospital of hospitals" class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{hospital.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Тип:{{hospital.type}}</h6>
        <p class="card-text">{{hospital.description}}</p>
        <p class="card-text">Место:{{hospital.place}}</p>
        <p class="card-text">Адресс:{{hospital.address}}</p>
      </div>
    </div>
  </div>
</div>
